.courseItem {
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.courseItem :hover {
    cursor: pointer;
}

html {
    margin-bottom: 50px;
}

Button {
    color: white;
    background-color: lightseagreen;
    border: none;
    padding: 5px 10px;
    border-radius: 10000px;
    font-size: 0.75em;
    box-shadow: 1px 1px 5px grey;
}

Button :hover {
    cursor: pointer;
}

.cartButton {
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px 20px;
}